@using Microsoft.AspNetCore.Identity
@using QuizletClone.Areas.Identity.Data
@using QuizletClone.DTOs.Folder
@model FolderDTO
@inject UserManager<AppUser> UserManager
@{
	ViewData["Title"] = $"Thư mục {Model.Title} | Quizlet-Clone";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var username = string.Empty;
	var btnState = @Model.Courses?.Count > 1 ? "" : "inactive";
	var btnTitle = string.IsNullOrEmpty(btnState) ? "" : "Thêm 1 học phần để học";
}
@section Styles {
	<link rel="stylesheet" href="~/css/folder/detail.css" />
	<link rel="stylesheet" href="~/css/folder/confirmDeleteModal.css" />
	<link rel="stylesheet" href="~/css/userLibrary/searchBox.css" />
}

<div class="folder-detail-container">
	<header>
		<div class="header-content">
			<div class="folder-title" data-folder-id="@Model.Id">
				<h1 id="folderTitle">@Model.Title</h1>
			</div>

			<div class="action-btns">
				<button class="btn @btnState" title="@btnTitle">
					Học
				</button>

				<button class="btn">
					<i class="fa-solid fa-plus"></i>
				</button>

				<div class="btn-options btn-other">
					<div class="selected">
						<i class="fa-solid fa-ellipsis"></i>
					</div>
					<div class="options">
						<div class="option">
							<i class="fa-solid fa-arrow-up-from-bracket"></i>
							Chia sẻ
						</div>
						<div class="option" style="color: var(--cherry-color)"
							 data-bs-toggle="modal" data-bs-target="#confirm-delete-folder-modal">
							<i class="fa-solid fa-trash"></i>
							Xóa
						</div>
					</div>
				</div>
				@await Html.PartialAsync("/Views/Folders/ConfirmDeleteFolderModal.cshtml", new{
					Id = Model.Id
				})

			</div>
		</div>

		<div class="last-edited">
			<i class="fa-solid fa-clock-rotate-left"></i>
			Chỉnh sửa ngày @Model.UpdatedAt
		</div>
	</header>

	<div class="py-5">
		@if (Model.Courses?.Count > 1)
		{
			<div class="filter-search-container">
				<div class="select-container">
					<div class="custom-select">
						<div class="selected" data-value="created">
							Các mục gần đây
							<i class="fa-solid fa-angle-down"></i>
						</div>
						<div class="options">
							<a class="option">Các mục gần đây</a>
							<a class="option">Tiêu đề</a>
						</div>
					</div>
				</div>

				<!--Thanh tìm kiếm-->
				@await Html.PartialAsync("../UserLibrary/Shared/_SearchBoxPartial.cshtml", new
					{
						title = "Tìm kiếm thư mục này",
						backgroundColor = "var(--bg-color-grey)"
					})
			</div>
		}

		<div class="course-list">
			@if (Model.Courses?.Count > 0)
			{
				@foreach (var course in Model.Courses)
				{
					username = course.OwnerUserId == UserManager.GetUserId(User) ? "bạn" : course.OwnerUsername;
					<div class="card-item">
						<div class="course-item">
							<div class="course-icon">
								<img src="/images/icons/card.png" alt="Icon">
							</div>
							<div class="course-content">
								<div class="title">
									<span>@course.Title</span>
								</div>
								<div class="course-info">
									Học phần&nbsp;&nbsp;•&nbsp;&nbsp;@course.FlashcardCount terms&nbsp;&nbsp;•&nbsp;&nbsp;Tác giả: @username
								</div>
							</div>

							<div class="course-actions">
								<div class="btn-options" style="border:2px solid transparent;">
									<div class="selected">
										<i class="fa-solid fa-ellipsis"></i>
									</div>
									<div class="options">
										<div class="option">
											<i class="fa-solid fa-minus"></i>
											Xóa
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			} else
			{
				<div class="card-item-empty">
					<span>Thư mục này trống</span>
				</div>
			}
		</div>
	</div>
</div>

<script type="module" src="~/js/folder/main.js"></script>
<script type="module" src="~/js/userLibrary/main.js"></script>