@using Microsoft.AspNetCore.Identity
@using QuizletClone.Areas.Identity.Data
@using QuizletClone.DTOs.Folder
@using QuizletClone.ViewModels.Folders
@model FolderDTO
@inject UserManager<AppUser> UserManager
@{
	ViewData["Title"] = $"Thư mục {Model.Title} | QuizletClone";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var username = string.Empty;
	var btnState = @Model.CoursesInFolder?.Count > 1 ? "" : "inactive";
	var btnTitle = string.IsNullOrEmpty(btnState) ? "" : "Thêm 1 học phần để học";

	var user = await UserManager.GetUserAsync(User);
	var isOwner = UserManager.GetUserId(User) == Model.Owner.Id;
}
@section Styles {
	<link rel="stylesheet" href="~/css/folder/detail.css" />
	<link rel="stylesheet" href="~/css/folder/confirmDeleteModal.css" />
	<link rel="stylesheet" href="~/css/folder/addCourseToFolderModal.css" />
	<link rel="stylesheet" href="~/css/userLibrary/searchBox.css" />
}

<div class="folder-detail-container">
	<header>
		<div class="header-content">
			<div class="folder-title" data-folder-id="@Model.Id">
				<h1 id="folderTitle">@Model.Title</h1>
			</div>

			<!-- Hiển thị các action buttons -->
			@await Html.PartialAsync("/Views/Folders/ViewPartials/_ActionButtonsPartial.cshtml", new FolderActionButtonsViewModel{
				FolderId = Model.Id,
				IsOwner = isOwner,
				BtnState = btnState,
				BtnTitle = btnTitle,
			})
		</div>
		
		<!-- Hiển thị thời gian create/update -->
		@await Html.PartialAsync("/Views/Folders/ViewPartials/_FolderInfoPartial.cshtml", new FolderInfoViewModel
		{
			IsOwner = isOwner,
			CreatedAt = Model.CreatedAt,
			UpdatedAt = "",
		})
		
		<!-- Modal xác nhận xóa folder -->
		@await Html.PartialAsync("/Views/Folders/Modals/ConfirmDeleteFolderModal.cshtml", new{
			Id = Model.Id
		})

		<!-- Modal thêm các học phần vào folder -->
		@await Html.PartialAsync("/Views/Folders/Modals/AddCourseToFolderModal.cshtml", new{
			CoursesAccessed = Model.CoursesAccessed,
			CurrUserId = Model.Owner.Id,
			FolderId = Model.Id
		})
	</header>

	<div class="py-5">
		@if (Model.CoursesInFolder?.Count > 1)
		{
			<div class="filter-search-container">
				<div class="select-container">
					<div class="custom-select">
						<div class="selected" data-value="created">
							Các mục gần đây
							<i class="fa-solid fa-angle-down"></i>
						</div>
						<div class="options">
							<a class="option">Các mục gần đây</a>
							<a class="option">Tiêu đề</a>
						</div>
					</div>
				</div>

				<!--Thanh tìm kiếm-->
				@await Html.PartialAsync("../UserLibrary/Shared/_SearchBoxPartial.cshtml", new
					{
						title = "Tìm kiếm thư mục này",
						backgroundColor = "var(--bg-color-grey)"
					})
			</div>
		}

		<div class="course-list">
			@if (Model.CoursesInFolder?.Count > 0)
			{
				@foreach (var course in Model.CoursesInFolder)
				{
					username = course.OwnerUserId == UserManager.GetUserId(User) ? "bạn" : course.OwnerUsername;
					<div class="card-item">
						<a class="course-item" asp-controller="Course" asp-action="Details" asp-route-slug="@course.Slug">
							<div class="course-icon">
								<img src="/images/icons/card.png" alt="Icon">
							</div>
							<div class="course-content">
								<div class="title">
									<span>@course.Title</span>
								</div>
								<div class="course-info">
									Học phần&nbsp;&nbsp;•&nbsp;&nbsp;@course.FlashcardCount terms&nbsp;&nbsp;•&nbsp;&nbsp;Tác giả: @username
								</div>
							</div>

							<div class="course-actions">
								<div class="btn-options" style="border:2px solid transparent;">
									<div class="selected">
										<i class="fa-solid fa-ellipsis"></i>
									</div>
									<div class="options">
										<div class="option" onclick="DeleteFromFolder(@course.Id, @Model.Id)">
											<i class="fa-solid fa-minus"></i>
											Xóa
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				}
			} else
			{
				<div class="card-item-empty">
					<span>Thư mục này trống</span>
				</div>
			}
		</div>
	</div>
</div>

<script type="module" src="~/js/folder/main.js"></script>
<script type="module" src="~/js/userLibrary/main.js"></script>