@using QuizletClone.DTOs.Course
@model Dictionary<string, List<UserLibraryCoursesDTO>>

@{
    ViewData["Title"] = $"{ViewBag.Username} | QuizletClone";
    Layout = "~/Views/UserLibrary/Shared/_Layout.cshtml";

    string filterBy = ViewData["FilterBy"]!.ToString();
    var selectedFilterLabel = filterBy == "recently" ? "Gần đây" : "Đã tạo";
    var courseEmptyMessages = new Dictionary<string, (string title, string description)>
    {
        { "recently", ("Bạn chưa có học phần nào", "Các học phần bạn tạo hoặc học sẽ hiển thị ở đây") },
        { "created", ("Bạn chưa tạo học phần nào", "Các học phần bạn tạo sẽ hiển thị ở đây") },
    };

    var (title, description) = courseEmptyMessages.ContainsKey(filterBy)
                                        ? courseEmptyMessages[filterBy]
                                        : courseEmptyMessages["created"];
}

<div class="content-container">
    <!-- Filter and Search Bar -->
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="select-container">
                <div class="custom-select">
                    <div class="selected">
                        @selectedFilterLabel
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="options">
                        <a class="option" asp-action="Courses" asp-controller="UserLibrary"
                           asp-route-username="@ViewBag.Username" asp-route-filter="created">Đã tạo</a>
                        <a class="option" asp-action="Courses" asp-controller="UserLibrary"
                           asp-route-username="@ViewBag.Username" asp-route-filter="recently">Gần đây</a>
                    </div>
                </div>
            </div>
        </div>
        
        @if (Model.Count > 1)
        {
            <div class="col-6">
                @await Html.PartialAsync("../UserLibrary/Shared/_SearchBoxPartial.cshtml", new {
				    title = "Tìm kiếm thẻ ghi nhớ",
				    backgroundColor = "white"
			    })
            </div>
        }
    </div>

    <!-- Course List -->
    <div class="list-group">
        @if (Model.Count > 0)
        {
            @foreach(var group in Model)
            {
                <div class="course-group">
                    <header>
                        <h2>@group.Key</h2>
                        <div class="line"></div>
                    </header>
                    @foreach (var course in group.Value)
                    {
                        var isPrivateCourse = course.ViewPermissionType == PermissionType.OnlyMe ? true : false;
                        <div class="card-item">
                            <div class="card course-item" onclick="pageRedirect('/@course.Slug')">
                                <div class="tag">
                                    <div class="items-count">@course.FlashcardCount thuật ngữ</div>
                                    @if (ViewData["FilterBy"]!.ToString() == "recently")
                                    {
                                        <div class="separator"></div>
                                        <a class="user-link" asp-controller="UserLibrary"
                                           asp-action="Courses" asp-route-username="@course.OwnerUsername">
                                            <img src="~/images/icons/avatar.png" alt="Avatar" class="avatar" title="Thăm hồ sơ của @course.OwnerUsername" />
                                            <span class="username">@course.OwnerUsername</span>
                                        </a>
                                    }
                                </div>

                                <div class="title">
                                    <span>@course.Title</span>
                                    @if (isPrivateCourse)
                                    {
                                        <i class="fa-solid fa-lock icon-lock"></i>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="list-group-empty">
                <img src="/images/icons/courses_empty.svg" width="200" />
                <div class="title text">@title</div>
                <span class="text">@description</span>
                <a class="btn" asp-controller="Course" asp-action="Create">
                    Tạo học phần
                </a>
            </div>
        }
    </div>
</div>

