@model dynamic
<div class="term-defi-cards" tabindex="0" data-flashcard-id="@Model.Flashcard.Id"
     data-fc-is-starred="@Model.Flashcard.IsStarred">
    <div class="card-inner">
        <div class="card-front">
            <div class="card-actions">
                <button title="Sửa" id="btn-open-edit-modal">
                    <i class="fa-solid fa-pen text-secondary"></i>
                </button>
                <button id="btn-sound-front" title="Phát âm">
                    <i class="fa-solid fa-volume-high text-secondary"></i>
                </button>
                <button title="Gắn sao" class="starred-btn">
                    <i class="fa-solid fa-star" style="color:#6C757D;"></i>
                </button>
            </div>
            <span id="text-front">@Model.Flashcard.Term</span>
            <input type="hidden" name="termLangCode" value="@Model.Flashcard.TermLanguageCode" />
        </div>
        <div class="card-back">
            <div class="card-actions">
                <button title="Chỉnh sửa">
                    <i class="fa-solid fa-pen text-secondary"></i>
                </button>
                <button id="btn-sound-back" title="Phát âm">
                    <i class="fa-solid fa-volume-high text-secondary"></i>
                </button>
                <button title="Gắn sao" class="starred-btn">
                    <i class="fa-solid fa-star" style="color:#6C757D;"></i>
                </button>
            </div>
            <span id="text-back">@Model.Flashcard.Definition</span>
            <input type="hidden" name="defiLangCode" value="@Model.Flashcard.DefiLanguageCode" />
        </div>
    </div>
</div>
