@model dynamic
<div class="term-defi-cards" tabindex="0" data-flashcard-id="@Model.FlashcardId">
    <div class="card-inner">
        <div class="card-front">
            <div class="card-actions">
                <button title="Sửa" id="btn-open-edit-modal">
                    <i class="fa-solid fa-pen text-secondary"></i>
                </button>
                <button id="btn-sound-front" title="Phát âm">
                    <i class="fa-solid fa-volume-high text-secondary"></i>
                </button>
                <button title="Gắn sao" class="starred-btn">
                    <i class="fa-solid fa-star text-secondary"></i>
                </button>
            </div>
            <span id="text-front">@Model.Term</span>
            <input type="hidden" name="termLangCode" value="@Model.TermLanguageCode" />
        </div>
        <div class="card-back">
            <div class="card-actions">
                <button title="Chỉnh sửa">
                    <i class="fa-solid fa-pen text-secondary"></i>
                </button>
                <button id="btn-sound-back" title="Phát âm">
                    <i class="fa-solid fa-volume-high text-secondary"></i>
                </button>
                <button title="Gắn sao" class="starred-btn">
                    <i class="fa-solid fa-star text-secondary"></i>
                </button>
            </div>
            <span id="text-back">@Model.Definition</span>
            <input type="hidden" name="defiLangCode" value="@Model.DefiLanguageCode" />
        </div>
    </div>
</div>
