@using Newtonsoft.Json
@model dynamic

<div class="row my-4 your-terms">
	<h5 class="p-0">Thuật ngữ trong học phần này (@Model.Flashcards.Count)</h5>

	<section class="terms-list p-3 my-4">
        <!-- Nếu chưa học flashcard nào thì hiển thị tất cả -->
        @if (@Model.LearnedFlashcards.Count <= 0)
        {
            @foreach (var flashcard in Model.Flashcards)
            {
                <div class="card">
                    <div class="row p-3 d-flex align-items-center justify-content-center">
                        <div class="col-3 term-col">
                            <span class="float-start">@flashcard.Term</span>
                        </div>
                        <div class="col-6 defi-col">
                            <span class="float-start">@flashcard.Definition</span>
                        </div>
                        <div class="col-3">
                            <button class="float-end" title="Sửa" type="button"
                                    data-bs-toggle="modal" data-bs-target="#edit-flashcard-modal"
                                    onclick="assignDataToModal('@flashcard.Id', '@flashcard.Term', '@flashcard.Definition')">
                                <i class="fa-solid fa-pen text-secondary"></i>
                            </button>

                            <button class="float-end " title="Phát âm"
                                    onclick="textToSpeech('@flashcard.Term', '@flashcard.TermLanguageCode')">
                                <i class="fa-solid fa-volume-high text-secondary"></i>
                            </button>

                            <button class="float-end starred-btn" title="Gắn sao"
                                    data-is-starred="@flashcard.IsStarred"
                                    data-flashcard-id="@flashcard.Id"
                                    onclick="starredFlashcard(this)">
                                <i class="fa-solid fa-star"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }

        <!-- Nếu có flashcard đã học thì hiển thị 2 loại: đã học, chưa học -->
        @if (@Model.LearnedFlashcards.Count > 0)
        {
            <!-- Các flashcard đang học -->
            <section class="learned-terms">
                <div class="row">
                    <div class="col-9">
                        <h5>Đang học (@Model.LearnedFlashcards.Count)</h5>
                        <p class="m-0">Bạn đã bắt đầu học những thuật ngữ này. Tiếp tục phát huy nhé!</p>
                    </div>

                    <div class="col-3">
                        <button class="btn-starred float-end"
                                id="btn-starred-learned"
                                data-cards-count="@Model.LearnedFlashcards.Count"
                                data-are-learned-starred='@Model.AreLearnedStarred'
                                onclick='starredFlashcards(@Html.Raw(Json.Serialize(Model.LearnedFlashcards)), this)'>
                            <i class="fa-solid fa-star text-secondary"></i>
                            <span></span>
                        </button>
                    </div>
                </div>

                @foreach (var flashcard in Model.LearnedFlashcards)
                {
                    <div class="card">
                        <div class="row p-3 d-flex align-items-center justify-content-center">
                            <div class="col-3 term-col">
                                <span class="float-start">@flashcard.Term</span>
                            </div>
                            <div class="col-6 defi-col">
                                <span class="float-start">@flashcard.Definition</span>
                            </div>
                            <div class="col-3">
                                <button class="float-end" title="Sửa" type="button"
                                        data-bs-toggle="modal" data-bs-target="#edit-flashcard-modal"
                                        onclick="assignDataToModal('@flashcard.Id', '@flashcard.Term', '@flashcard.Definition')">
                                    <i class="fa-solid fa-pen text-secondary"></i>
                                </button>

                                <button class="float-end" title="Phát âm"
                                        onclick="textToSpeech('@flashcard.Term', '@flashcard.TermLanguageCode')">
                                    <i class="fa-solid fa-volume-high text-secondary"></i>
                                </button>

                                <button class="float-end starred-btn" title="Gắn sao"
                                        data-is-starred="@flashcard.IsStarred"
                                        data-flashcard-id="@flashcard.Id"
                                        onclick="starredFlashcard(this)">
                                    <i class="fa-solid fa-star"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </section>

            <!-- Các flashcard chưa học -->
            @if (@Model.NotLearnedFlashcards.Count > 0)
            {
                <section class="not-leanred-terms mt-3">
                    <div class="row">
                        <div class="col-6">
                            <h5 clas>Chưa học (@Model.NotLearnedFlashcards.Count)</h5>
                            <p class="m-0">Bạn chưa học các thuật ngữ này!</p>
                        </div>

                        <div class="col-6">
                            <button class="btn-starred float-end"
                                    id="btn-starred-not-learned"
                                    data-cards-count="@Model.NotLearnedFlashcards.Count"
                                    data-are-not-learned-starred='@Model.AreNotLearnedStarred'
                                    onclick='starredFlashcards(@Html.Raw(Json.Serialize(Model.NotLearnedFlashcards)), this)'>
                                <i class="fa-solid fa-star text-secondary"></i>
                                <span></span>
                            </button>
                        </div>
                    </div>

                    @foreach (var flashcard in Model.NotLearnedFlashcards)
                    {
                        <div class="card">
                            <div class="row p-3 d-flex align-items-center justify-content-center">
                                <div class="col-3 term-col">
                                    <span class="float-start">@flashcard.Term</span>
                                </div>
                                <div class="col-6 defi-col">
                                    <span class="float-start">@flashcard.Definition</span>
                                </div>
                                <div class="col-3">
                                    <button class="float-end" title="Sửa" type="button"
                                            data-bs-toggle="modal" data-bs-target="#edit-flashcard-modal"
                                            onclick="assignDataToModal('@flashcard.Id', '@flashcard.Term', '@flashcard.Definition')">
                                        <i class="fa-solid fa-pen text-secondary"></i>
                                    </button>

                                    <button class="float-end" title="Phát âm"
                                            onclick="textToSpeech('@flashcard.Term', '@flashcard.TermLanguageCode')">
                                        <i class="fa-solid fa-volume-high text-secondary"></i>
                                    </button>

                                    <button class="float-end" title="Gắn sao"
                                            data-is-starred="@flashcard.IsStarred"
                                            data-flashcard-id="@flashcard.Id"
                                            onclick="starredFlashcard(this)">
                                        <i class="fa-solid fa-star"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            }
        }
	</section>
</div>
